<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>articleEtclientsEtcontact</name>
	<displayName><![CDATA[article et clients et contact sections]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[afficher les sections article et clients et contact]]></description>
	<author><![CDATA[Alali MOUAFAK]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
